/* Tipografia */
@font-face {
  font-family: "UniversLTStd";
  src: url("https://res.cloudinary.com/mdmcuanalo/raw/upload/v1616079433/Portafolio/UniversLTStd_xw2g9l.woff2")
    format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "UniversLTStd-BoldCn";
  src: url("https://res.cloudinary.com/mdmcuanalo/raw/upload/v1616079547/Portafolio/UniversLTStd-BoldCn_r68zv3.woff2")
    format("woff2");
  font-style: normal;
  font-weight: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
/* Variables */
:root {
  --primario: #7f7ffb;
  --primario-claro: ##b4aeff;
  --primario-fuerte: #4853c7;
  --secundario: #ff1744;
  --secundario-claro: #FFFFF;
  --secundario-fuerte: #000000;
  --bg: #000000;
  --font-base: "Playfair Display", serif;
  --font-headings: "UniversLTStd-BoldCn";
  --h1: 10vw;
  --h2: 81px;
  --h3: 5vw;
  --font-headings-2: "UniversLTStd";
  --h4: 40px;
}

/* Base */

body,
p {
  font-family: var(--font-base);
}

h1,
h2,
h3 {
  font-family: var(--font-headings);
}

h4 {
  font-family: var(--font-headings-2);
}
h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
h6 {
  font-size: var(--h6);
}

img {
  max-width: 100%;
}

/* Componentes */
.layout {
  min-height: 100vh;
}

.header {
  display: grid;
  background-color: #fefefe;
  color: #7f7ffb;
  /* height: 0vh; */
}

.header h1 {
  line-height: 0.9;
  margin: 28vh 0 3vh 5vw; /*primeros dos vh y ultimos dos vw*/
}

@media screen and (max-width: 415px) {
  .header {
    max-height: 100vh;
  }
  .header h1 {
    /* margin: 75vh 0 0 5vw; */
    margin-top: auto;
  }

  /* .header h1 {
    margin: 0 0 0 5vw;
    margin-top: 75vh;
  }
  .navigation ul {
    margin: -5vh 0 0 90vw;
  }
  .contact p {
    color: black;
    margin: 3vh 10vw 35vh 55vw;
  } */
}

.navigation ul {
  list-style-type: none;
  margin: -5vh 0 0 90vw;
  line-height: 5vh;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
@media screen and (max-width: 415px) {
  .navigation,
  .header {
    height: 100vh;
    max-width: 100vw;
  }

  .navigation ul {
    margin: 0 0 0 0;
    padding-left: 84vw;
  }
}

.logohome {
  max-width: 32px;
  max-height: 32px;
  fill: var(--primario);
  margin: 4vh 0 0 5vw;
}

.logohome:hover {
  fill: var(--secundario);
}

.logomenu {
  max-width: 32px;
  max-height: 32px;
  fill: var(--primario);
  margin-bottom: 4vh;
}

.logomenu:hover {
  fill: var(--secundario);
}

.logobehance {
  max-width: 32px;
  max-height: 32px;
  fill: var(--primario);
}

.logobehance:hover {
  fill: var(--secundario);
}

.logoinsta {
  max-width: 32px;
  max-height: 32px;
  fill: var(--primario);
}

.logoinsta:hover {
  fill: var(--secundario);
}

.logolinkedin {
  max-width: 32px;
  max-height: 32px;
  fill: var(--primario);
}

.logolinkedin:hover {
  fill: var(--secundario);
}

/* Categoria */
/* .categoria {
  height: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "web branding"
    "tipografia ilustrations"
    "sintesis ilustrations";
} */

/* Cambio a flex */
.categoria {
  display: flex;
  flex-wrap: wrap;
  margin: 4vh 0 0 0;
}

.categoria-imagen {
  flex: 0 0 auto;
}

.cat-vertical {
  display: grid;
}

/* Utilities */

.flex {
  display: flex;
}
.flex-center {
  justify-items: center;
  align-items: center;
}
.grid {
  display: grid;
}
.grid-center {
  place-content: center;
}

.grid-start {
  place-content: start;
}
.mx-auto {
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.hidden {
  display: none;
  visibility: hidden;
}
.outline {
  outline: 2px solid black;
}

.categoria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.cat-imagen1 {
  grid-area: 1 / 1 / 2 / 2;
}
.cat-imagen2 {
  grid-area: 2 / 1 / 3 / 2;
}
.cat-imagen3 {
  grid-area: 1 / 2 / 3 / 3;
}
.cat-imagen4 {
  grid-area: 3 / 1 / 5 / 2;
}
.cat-imagen5 {
  grid-area: 3 / 2 / 5 / 3;
}

@media screen and (max-width: 600px) {
  .categoria {
    display: flex;
    flex-direction: column;
    /* margin: 4vh 0 0 0; */
    margin: 0;
    /* gap: 1rem; */
    /* padding: 1rem; */
    /* background-color: aquamarine; */
  }

  /* .categoria figure {
  } */

  .categoria-imagen {
    flex: unset;
  }

  .cat-vertical {
    display: unset;
    all: unset;
  }

  /* .categoria im {
    object-fit: cover;
  } */
}

.hover-img {
  color: white;
  display: inline-block;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  text-align: left;
}

.hover-img * {
  transition: all 0.45s ease;
}

.hover-img:before,
.hover-img:after {
  background-color: var(--primario);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.hover-img img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.hover-img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.hover-img:hover:before,
.hover-img:hover:after {
  opacity: 0.3;
}

.hover-img:hover > img {
  opacity: 0.7;
}

.hover-img:hover figcaption {
  opacity: 1;
}

.about {
  color: #7f7ffb;
  margin: 16vh 0 0 5vw;
}

.about p {
  color: black;
  margin: 3vh 10vw 28vh 55vw;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
}

.hover2-img {
  color: white;
  display: inline-block;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  text-align: left;
}

.hover2-img * {
  transition: all 0.45s ease;
}

.hover2-img:before,
.hover2-img:after {
  background-color: var(--secundario);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.hover2-img img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.hover2-img figcaption {
  position: absolute;
  top: 5vh;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.hover2-img:hover:before,
.hover2-img:hover:after {
  opacity: 0.4;
}

.hover2-img:hover > img {
  opacity: 0.7;
}

.hover2-img:hover figcaption {
  opacity: 1;
}

.description-option {
  font-size: 5.5vh;
}

.contact {
  color: #7f7ffb;
  margin: 16vh 0 0 5vw;
}

.contact p {
  color: black;
  margin: 3vh 10vw 36vh 55vw;
}

.section-link {
  margin: 0;
  padding: 0;
}
