/* Tipografia */
@font-face {
  font-family: "UniversLTStd";
  src: url("https://res.cloudinary.com/mdmcuanalo/raw/upload/v1616079433/Portafolio/UniversLTStd_xw2g9l.woff2")
    format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "UniversLTStd-BoldCn";
  src: url("https://res.cloudinary.com/mdmcuanalo/raw/upload/v1616079547/Portafolio/UniversLTStd-BoldCn_r68zv3.woff2")
    format("woff2");
  font-style: normal;
  font-weight: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
/* Variables */
:root {
  --primario: #7f7ffb;
  --primario-claro: ##b4aeff;
  --primario-fuerte: #4853c7;
  --secundario: #ff1744;
  --secundario-claro: #FFFFF;
  --secundario-fuerte: #000000;
  --bg: #000000;
  --font-base: "Playfair Display", serif;
  --font-headings: "UniversLTStd-BoldCn";
  --h1: 152.59px;
  --h2: 81px;
  --h3: 54px;
  --font-headings-2: "UniversLTStd";
  --h4: 50px;
}

/* Base */
body {
  font-family: var(--font-base);
}

h1,
h2,
h3 {
  font-family: var(--font-headings);
}

h4 {
  font-family: var(--font-headings-2);
}
h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
h6 {
  font-size: var(--h6);
}

/* Componentes */
.header {
  background-color: #fefefe;
  color: #7f7ffb;
  /* height: 0vh; */
}

.header h1 {
  line-height: 0.9;
  margin: -3vh 0 0 5vw; /*primeros dos vh y ultimos dos vw*/
  margin-bottom: 4vh;
}

.navigation ul {
  list-style-type: none;
  margin: -5vh 0 0 90vw;
  line-height: 5vh;
}

.logohome {
  max-width: 32px;
  max-height: 32px;
  fill: #7f7ffb;
  margin: 4vh 0 0 5vw;
}

.logohome:hover {
  fill: #ff1744;
}

.logomenu {
  max-width: 32px;
  max-height: 32px;
  fill: #7f7ffb;
  margin-bottom: 4vh;
}

.logomenu:hover {
  fill: #ff1744;
}

.logobehance {
  max-width: 32px;
  max-height: 32px;
  fill: #7f7ffb;
}

.logobehance:hover {
  fill: #ff1744;
}

.logoinsta {
  max-width: 32px;
  max-height: 32px;
  fill: #7f7ffb;
}

.logoinsta:hover {
  fill: #ff1744;
}

.logolinkedin {
  max-width: 32px;
  max-height: 32px;
  fill: #7f7ffb;
}

.logolinkedin:hover {
  fill: #ff1744;
}

/* Categoria */
/* .categoria {
  height: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "web branding"
    "tipografia ilustrations"
    "sintesis ilustrations";
} */

/* Cambio a flex */
.categoria {
  display: flex;
  flex-wrap: wrap;
  margin: 4vh 0 0 0;
}

.categoria-imagen {
  /* flex: 1 0 35vw; */
  flex: 0 0 auto;
}

.cat-vertical {
  display: grid;
}

/* Utilities */
.flex {
  display: flex;
}
.flex-center {
  justify-items: center;
  align-items: center;
}
.grid {
  display: grid;
}
.grid-center {
  place-content: center;
}

.grid-start {
  place-content: start;
}
.mx-auto {
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.hidden {
  display: none;
  visibility: hidden;
}
.outline {
  outline: 2px solid black;
}

.categoria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.cat-imagen1 {
  grid-area: 1 / 1 / 2 / 2;
}
.cat-imagen2 {
  grid-area: 2 / 1 / 3 / 2;
}
.cat-imagen3 {
  grid-area: 1 / 2 / 3 / 3;
}
.cat-imagen4 {
  grid-area: 3 / 1 / 5 / 2;
}
.cat-imagen5 {
  grid-area: 3 / 2 / 5 / 3;
}

.hover-img {
  color: white;
  display: inline-block;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.hover-img * {
  transition: all 0.45s ease;
}

.hover-img:before,
.hover-img:after {
  background-color: var(--primario);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.hover-img img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.hover-img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 24px; /*cambiar*/
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hover-img:hover:before,
.hover-img:hover:after {
  opacity: 0.4;
}

.hover-img:hover > img {
  opacity: 0.7;
}

.hover-img:hover figcaption {
  opacity: 1;
}
